#!/bin/bash
# Sample script for fscd.
# Copy or link this script to fscd-rotate-normal and fscd-rotate-tablet.
#
# Copyright (C) 2007 Robert Gerlach <khnz@users.sourceforge.net>
# 
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License version 2.
################################################################################

mode="${0##*-}"

oskb_bin=
#if [ x"$GNOME_DESKTOP_SESSION_ID" = x"true" ]; then ...
[ "$oskb_bin" ] || oskb_bin="`type -p onboard`"
[ "$oskb_bin" ] || oskb_bin="`type -p xvkbd`"

killbyname () {
  local pid=$( ps -u "$USER" | awk "\$4 ~ /^\<$1\>/ { print \$1 }" )
  if [ "$pid" ]; then
    kill -TERM $pid
  fi
}

case "$mode" in

  tablet)
    if test x"$KDE_FULL_SESSION" = x"true" && type -p "kvkbd"; then
      kvkbd
    elif type -p "onboard"; then
      onboard &
    elif type -p "xvkbd"; then
      xvkbd &
    else
      exit 1
    fi
    ;;

  normal)
    if [ x"$KDE_FULL_SESSION" = x"true" ]; then
      dcop kvkbd MainApplication-Interface quit
    fi
    killbyname "run-onboard.py"
    killbyname "xvkbd"
    ;;

esac

