#!/bin/bash
# Sample script for fscd.
# Copy or link this script to rotate-normal and rotate-tablet.
#
# Copyright (C) 2007 Robert Gerlach <khnz@users.sourceforge.net>
# 
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License version 2.
################################################################################

mode="${0##*-}"

oskb_bin=
[ "$oskb_bin" ] || oskb_bin="`type -p cellwriter`"
[ "$oskb_bin" ] || oskb_bin="`type -p onboard`"
[ "$oskb_bin" ] || oskb_bin="`type -p xvkbd`"
[ "$oskb_bin" ] || exit 0

killbyname () {
  local pid=$( pgrep -u "$USER" "$1" )
  if [ "$pid" ]; then
    kill -TERM $pid
  fi
}

case "$mode" in

  tablet)
    "$oskb_bin" &
    ;;

  normal)
    killbyname `basename "$oskb_bin"`
    ;;

esac

exit 0
