Source: fjbtndrv
Section: utils
Priority: extra
Maintainer: Robert Gerlach <khnz@users.sourceforge.net>
Build-Depends: debhelper (>= 5), autotools-dev, pkg-config, libhal-dev, libx11-dev, libxi-dev, libxext-dev, libxtst-dev, libxrandr-dev, libxosd-dev, wacom-tools
Standards-Version: 3.7.2

Package: fjbtndrv
Architecture: any
Depends: fsc-btns-kernel-source, fscrotd, fscd
Description: this package depends on all packages of the fjbtndrv project
 
Package: fscrotd
Architecture: any
Depends: ${shlibs:Depends}, fsc-btns-kernel-source
Recommends: wacom-tools
Replaces: fscd (<< 2), fscd-gnome (<< 2)
Conflicts: fscd (<< 2), fscd-gnome (<< 2)
Description: rotation helper for some fujitsu siemens tablets

Package: fscd
Architecture: any
Depends: ${shlibs:Depends}, fsc-btns-kernel-source
Recommends: wacom-tools
Replaces: fscd (<< 2), fscd-gnome (<< 2)
Conflicts: fscd (<< 2), fscd-gnome (<< 2)
Description: tablet buttons helper for some fujitsu siemens tablets

Package: fsc-btns-kernel-source
Architecture: any
Depends: debhelper (>= 5), dkms
Recommends: fscrotd, fscd
Description: source for the fsc_btns driver.
 This package provides the source code for the fsc_btns kernel module.

